./target
./end-to-end
/data.sqld

# ignore sqlite3 artifacts

sqlanywhere-sqlite3/.libs/
sqlanywhere-sqlite3/.target_source
sqlanywhere-sqlite3/.vscode/
sqlanywhere-sqlite3/Makefile
sqlanywhere-sqlite3/autom4te.cache/
sqlanywhere-sqlite3/config.h
sqlanywhere-sqlite3/config.log
sqlanywhere-sqlite3/config.status
sqlanywhere-sqlite3/fts5.c
sqlanywhere-sqlite3/fts5.h
sqlanywhere-sqlite3/fts5parse.c
sqlanywhere-sqlite3/fts5parse.h
sqlanywhere-sqlite3/fts5parse.out
sqlanywhere-sqlite3/fts5parse.sql
sqlanywhere-sqlite3/fts5parse.y
sqlanywhere-sqlite3/keywordhash.h
sqlanywhere-sqlite3/lemon
sqlanywhere-sqlite3/lempar.c
sqlanywhere-sqlite3/sqlite3.la
sqlanywhere-sqlite3/libsqlanywhere.la
sqlanywhere-sqlite3/libtclsqlite3.la
sqlanywhere-sqlite3/libtool
sqlanywhere-sqlite3/mkkeywordhash
sqlanywhere-sqlite3/mksourceid
sqlanywhere-sqlite3/opcodes.c
sqlanywhere-sqlite3/opcodes.h
sqlanywhere-sqlite3/parse.c
sqlanywhere-sqlite3/parse.h
sqlanywhere-sqlite3/parse.out
sqlanywhere-sqlite3/parse.sql
sqlanywhere-sqlite3/parse.y
sqlanywhere-sqlite3/shell.c
sqlanywhere-sqlite3/sqlite3
sqlanywhere-sqlite3/sqlite3.c
sqlanywhere-sqlite3/sqlite3.h
sqlanywhere-sqlite3/sqlite3.lo
sqlanywhere-sqlite3/sqlite3.o
sqlanywhere-sqlite3/sqlite3.pc
sqlanywhere-sqlite3/sqlanywhere.pc
sqlanywhere-sqlite3/sqlite3ext.h
sqlanywhere-sqlite3/sqlite3session.h
sqlanywhere-sqlite3/tclsqlite.lo
sqlanywhere-sqlite3/tclsqlite.o
sqlanywhere-sqlite3/testdir/
sqlanywhere-sqlite3/tsrc/
sqlanywhere-sqlite3/dbhash
sqlanywhere-sqlite3/fuzzcheck
sqlanywhere-sqlite3/sessionfuzz
sqlanywhere-sqlite3/sqldiff
sqlanywhere-sqlite3/sqlite3_analyzer
sqlanywhere-sqlite3/sqlite3_analyzer.c
sqlanywhere-sqlite3/sqlite_cfg.h
sqlanywhere-sqlite3/sqltclsh
sqlanywhere-sqlite3/sqltclsh.c
sqlanywhere-sqlite3/srcck1
sqlanywhere-sqlite3/test-out.txt
sqlanywhere-sqlite3/test/rust_suite/target
sqlanywhere-sqlite3/test/rust_suite/Cargo.lock
sqlanywhere-sqlite3/testfixture
sqlanywhere-sqlite3/sqlanywhere
sqlanywhere-sqlite3/src-verify
sqlanywhere-sqlite3/crates/target/

sqlanywhere-ffi/bundled/SQLite3MultipleCiphers/build
